{% load bootstrap3 %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>学习笔记</title>

    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>
    <!--静态导航栏-->
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{% url 'learning_logs:index' %}" class="navbar-brand">学习笔记</a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'learning_logs:topics' %}">主题</a> </li>             
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                    <li><a>Hello,{{ user.username }}.</a></li>
                    <li><a href="{% url 'users:logout' %}">注销</a></li> 
                    {% else %}
                    <li><a href="{% url 'users:register' %}">注册</a></li> 
                    <li><a href="{% url 'users:login' %}">登录</a></li>
                    {% endif %}
                </ul>
                
            </div>
        </div>
    </nav>
    
    <div class="container">
        <div class="page-header">
            {% block header %}{% endblock header %}
        </div>
        <div>{% block content %}{% endblock content %}</div>
    </div> 
    
</body>
</html>